In [5]:
import duckdb
import pandas as pd

con = duckdb.connect("dev_database.duckdb")
con.sql("USE dev_database.dev_sode")
con.sql("SHOW TABLES;").show()

┌───────────────────────────────────────────┐
│                   name                    │
│                  varchar                  │
├───────────────────────────────────────────┤
│ 1763                                      │
│ 1764                                      │
│ 1765                                      │
│ 1766                                      │
│ 1767                                      │
│ 1768                                      │
│ 1769                                      │
│ 1770                                      │
│ 1771                                      │
│ 1772                                      │
│  ·                                        │
│  ·                                        │
│  ·                                        │
│ 1873                                      │
│ 1874                                      │
│ fact_daily_climate_parameters             │
│ int_daily_climate_params_pivoted          │
│ noaa_ghcn_2022                            │
│ noaa_ghcn_2023                            │
│ stg_daily_climate_parameters              │
│ stg_daily_climate_parameters_vertical     │
│ stg_daily_climate_parameters_vertical_raw │
│ test                                      │
├───────────────────────────────────────────┤
│            120 rows (20 shown)            │
└───────────────────────────────────────────┘

In [11]:
df = con.sql("select * from fact_daily_climate_parameters ").df()

In [12]:
df.head()

,reading_date,source_flag,measurement_flag,PRCP_avg,PRCP_max,PRCP_min,TMAX_min,TMAX_max,TMAX_avg,TMIN_min,TMIN_max,TMIN_avg
0,2023-01-08,7,None,18.340815,914.0,0.0,-206.0,356.0,66.392519,-317.0,278.0,-39.896693
1,2023-01-08,T,None,37.483213,508.0,0.0,-228.0,123.0,12.000000,-344.0,66.0,-67.767470
2,2023-01-08,S,B,6.659341,180.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-01-08,N,T,0.000000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-01-09,S,B,12.634538,559.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN