In [5]:
import duckdb
import pandas as pd

con = duckdb.connect("dev_database.duckdb")
con.sql("USE dev_database.dev_sode")
con.sql("SHOW TABLES;").show()

┌───────────────────────────────────────────┐
│                   name                    │
│                  varchar                  │
├───────────────────────────────────────────┤
│ 1763                                      │
│ 1764                                      │
│ 1765                                      │
│ 1766                                      │
│ 1767                                      │
│ 1768                                      │
│ 1769                                      │
│ 1770                                      │
│ 1771                                      │
│ 1772                                      │
│  ·                                        │
│  ·                                        │
│  ·                                        │
│ 1873                                      │
│ 1874                                      │
│ fact_daily_climate_parameters             │
│ int_daily_climate_params_pivoted          │
│ noaa_ghcn_2022                            │
│ noaa_ghcn_2023                            │
│ stg_daily_climate_parameters              │
│ stg_daily_climate_parameters_vertical     │
│ stg_daily_climate_parameters_vertical_raw │
│ test                                      │
├───────────────────────────────────────────┤
│            120 rows (20 shown)            │
└───────────────────────────────────────────┘

In [11]:
df = con.sql("select * from fact_daily_climate_parameters ").df()

In [12]:
df.head()

,reading_date,source_flag,measurement_flag,PRCP_avg,PRCP_max,PRCP_min,TMAX_min,TMAX_max,TMAX_avg,TMIN_min,TMIN_max,TMIN_avg
0,2023-01-08,7,None,18.340815,914.0,0.0,-206.0,356.0,66.392519,-317.0,278.0,-39.896693
1,2023-01-08,T,None,37.483213,508.0,0.0,-228.0,123.0,12.000000,-344.0,66.0,-67.767470
2,2023-01-08,S,B,6.659341,180.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-01-08,N,T,0.000000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-01-09,S,B,12.634538,559.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
import boto3
import pandas as pd
from io import StringIO
bucket_name = 'noaa-ghcn-pds'
key = 'ghcnd-stations.txt'

client = boto3.client('s3')

text_obj = client.get_object(Bucket=bucket_name, Key=key)
body = text_obj['Body'].read()
# csv_string= body.read().decode('utf-8')
# print("Converting the CSV to a Pandas DataFrame")
# df= pd.read_csv(StringIO(csv_string))
# print(df.head(5))
# print(f"Storing file as ./raw/{year}.csv")
# df.to_csv(f"./seeds/raw_data/{year}.csv",index=False)
#             # load_data_to_db(f'noaa_ghcn_{year}', df)
df = pd.read_csv(body.decode('utf-8'),sep="\t")
df

       ACW00011604  17.1167  -61.7833   10.1    ST JOHNS COOLIDGE FLD
0       ACW00011647  17.1333  -61.7833   19.2    ST JO...
1       AE000041196  25.3330   55.5170   34.0    SHARJ...
2       AEM00041194  25.2550   55.3640   10.4    DUBAI...
3       AEM00041217  24.4330   54.6510   26.8    ABU D...
4       AEM00041218  24.2620   55.6090  264.9    AL AI...
...                                                   ...
125982  ZI000067969 -21.0500   29.3670  861.0    WEST ...
125983  ZI000067975 -20.0670   30.8670 1095.0    MASVI...
125984  ZI000067977 -21.0170   31.5830  430.0    BUFFA...
125985  ZI000067983 -20.2000   32.6160 1132.0    CHIPI...
125986  ZI000067991 -22.2170   30.0000  457.0    BEITB...

[125987 rows x 1 columns]